# Python dependencies required for development
astunparse
expecttest
future
hypothesis
numpy
psutil
pyyaml
requests
setuptools
six
types-dataclasses
typing_extensions
sympy
filelock
networkx
jinja2
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
